.imagenes{
    width: 100% !important;
    margin-top: 5px;

}
li{
  background-color: white;
    border: 10px solid white;
    box-shadow: 0 0 5px black ;
    border-radius: 10px;
    width: 500px;
    height: 450px;
    margin-bottom: 50px;
}

