<h2 class="subtitulo animate__animated animate__fadeInDown"> Mis Conocimientos </h2>

<div>
  <div>
    <mat-card class="carta-pequeña">
      <mat-card-content class="texto" >
        <span style="color: cornflowerblue;">Ingeniero de Sistemas en Formacion</span>, titulado como técnico en sistemas, con conocimiento en desarrollo web, utilizando tecnologías en la parte back-end.
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card class="carta-derecha">
          <mat-card-content class="texto" >
            <h3> Tecnologias a utilizar:  </h3>
            <dl>
             <dt>JAVA:</dt>
            <ul>
              <li>JPA</li>
              <li>JEE</li>
              <li>JSP Y SERVLETS</li>
              <li>JSF</li>
              <li>Springboot</li>
              <li>struts</li>
              <li>Hibernate</li>
            </ul>
          </dl>
          </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card class="carta-pequeña">
      <mat-card-content class="texto" >
       <span style="color: cornflowerblue;">conocimientos para el <span style="color: yellowgreen">desarrollo web</span> en la parte front-end:</span>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card class="carta-derecha">
          <mat-card-content class="texto" >
            <h3> Tecnologias a utilizar:  </h3>
            <dl>
             <dt>JavaScript:</dt>
              <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>TYPESCRIPT</li>
                <li>ANGULAR</li>
              </ul>
          </dl>
          </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card class="carta-pequeña">
      <mat-card-content class="texto" >
        Con buenas prácticas utilizando patrones de diseño,DTO,DAO, MVC, arquitectura de software, principios SOLID, conocimientos en bases de datos relacionales con <span>MySQL</span>, excelentes habilidades blandas y tecnicas,siendo apasionado por la tecnologia.
        Con enfoque hacia conocimientos en la nube con AWS y microservicios teniendo en cuenta la ética profesional que caracteriza a este sector.
    </mat-card-content>
    </mat-card>
  </div>
</div>
