<!-- Empieza el header -->
<div *ngIf="cargando; then noMostrar else mostrar"></div>

<ng-template #noMostrar>
  <h2 class="entrada animate__animated animate__bounceOut">CONOCEME</h2>
  <mat-spinner class="cargar"></mat-spinner>
</ng-template>

<ng-template #mostrar>
  <header>
    <div>
      <nav>
        <a [routerLink]="['/Home']" [routerLinkActive]="['active']">
          <button mat-fab extended class="colorBotones">
            <mat-icon>home</mat-icon>
            Home
          </button>
        </a>

        <a [routerLink]="['/About']" [routerLinkActive]="['active']" >
          <button mat-fab extended class="colorBotones">
            <mat-icon>person</mat-icon>
            Acerca de mí
          </button>
        </a>

        <a [routerLink]="['/projects']" [routerLinkActive]="['active']" >
          <button mat-fab extended class="colorBotones">
            <mat-icon>work</mat-icon>
            Proyectos
          </button>
        </a>

        <a [routerLink]="['/AppliedStudies']" [routerLinkActive]="['active']" >
          <button mat-fab extended class="colorBotones">
            <mat-icon>school</mat-icon>
            Estudios Realizados
          </button>
        </a>
      </nav>
    </div>
  </header>
  <!-- termina el header -->

  <router-outlet></router-outlet>
</ng-template>
