
 <form>

    <mat-form-field [ngStyle]="{'width': '100%'}">
     <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre" [(ngModel)]="nombre"  name="nombre" required pattern="[a-zA-Z]+"/>
    </mat-form-field>

    <mat-form-field [ngStyle]="{'width': '100%'}">
      <mat-label>Correo Electronico</mat-label>
      <input matInput placeholder="Correo electrónico" [(ngModel)]="correo" name="correo" required />
    </mat-form-field>



    <button mat-raised-button [ngStyle]="{'width': '100%'}" name="fontStyle" aria-label="Font Style" *ngIf="formularioValido()" color="primary" [disabled]="true">Enviar</button>
    <button mat-raised-button [ngStyle]="{'width': '100%'}" name="fontStyle" aria-label="Font Style" (click)="enviarCorreo()" *ngIf="!formularioValido()" color="primary" [disabled]="false">Enviar</button>

  </form>


