/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-grid-tile-content{
  justify-content: left !important;
}


body{
  width: 100vw;
  background-image: linear-gradient(to right bottom, #fbfbfd, #eeeef0, #e2e2e3, #d5d5d6, #c9c9c9);
  /* background-image: url("https://media.istockphoto.com/id/1136947323/es/foto/empresario-analizando-los-datos.jpg?s=1024x1024&w=is&k=20&c=J4Rx1I7TotflW10NpMTq0i3_lmGRQatOgZYjeU5WhAo=");  */
  background-attachment: fixed;
  background-repeat: no-repeat; /* no se repita la imagen */
  background-size: cover; /*toda la pantalla*/
  background-position: center; /*la imagen centrada*/
  overflow-x: hidden; /*ocultar*/
  overflow-y: scroll;
  scroll-behavior: smooth;

}


